.Rproj.user
.Rhistory
.RData
.Ruserdata
.RDataTmp
*/td_numeric*
*/.DS_Store
.vscode
scratch_pad/
notebooks/*.nb.html
notebooks/.ipynb_checkpoints/
notebooks/__pycache__/
results/exp-test/
results/statistical_parity/trial
results/statistical_parity/multi_feature
results/Proxy Experiment/ProxyExperiment.html
results/Rotterdam Definition/20221129_jb_rotterdams_fairness_definition.html
data/00_hidden/
data/03_experiment_input
data/04_experiment_output
notebooks/hidden/
